<h1>{{{title}}}</h1>

<main>
    <p>This website is to get Marvel Characters. You can search characters with name start with and you can also view character inside search result.</p>

    <form action="/search" method="POST" class="search-form">
        <label>
            Character Name:
            <input  type="text" name="searchTerm" placeholder="name start with">
        </label>
        <input type = "submit">
    </form>

</main>
